@import '~antd/dist/antd.css';
* {
    margin : 0;
    padding : 0;
    outline: 0;
    box-sizing: border-box;
}
html, body, #root{
    height: 100%;
}
body {
    background: #272425;
}
body, input, button {
    font-family: Kawak,Arial;
}
.App {
    text-align: center;
  }